# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
go.mod
go.sum
*.sw*

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
this-project
this_project
main
bin
tmp
gf
screenlog.*